* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New';
}
html, body {
    height: 100%;
}
body {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prompt {
    font-size: 18px;
    padding: 3px 16px;
}